.image-input{
    display: none;
}
.image-input + label {
    display: inline-block;
    width: 80%;
    min-width: 100px;
    
    border-color: var(--gray-1);
    background-color: var(--dark-1);
    color: var(--white);
    
    border-radius: 0.75rem;
    border-width: 1px;
    border-style: solid;
    
    padding: .375rem .725rem;
    margin-top: 0.5ch;
    appearance: none;  
    line-height: 1.5rem;

    font-size: 1rem;

    outline: 2px solid transparent;

    outline-offset: 2px;

    overflow-x: hidden;
    cursor: pointer;
}

.image-input + label:hover {
    border-color: #fdfcfc4d;
}
.image-input:focus + label{
    border-color: var(--gray-3);
}
